* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
}

/* Basic */
ul,
ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

/* Gallery */

.container {
    width: 1440px;
    padding: 24px 156px;
    margin: 0 auto;
}

.gallery {
    width: 1128px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
}
